.user__header {
  /* outline: 3px solid red; */
  margin-bottom: 60px;
}

.user__title {
  font-size: 3.5rem;
  position: relative;

  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 8ch;
  animation: typing 2s steps(8),blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {from{width: 0;}}
@keyframes blink {58%{border-color: transparent;}}



.title__color {
  color: var(--color-secondary);
}

.user-info__section {
  /* outline: 3px solid red; */
  display: flex;
  flex-direction: column;
}

.user-info__paragraph {
  /* outline: 3px solid blue; */
  display: block;
  width: 100%;
  font-size: 2.1rem;
  letter-spacing: 3px;
  margin-bottom: 5rem;
}

.user-info__section--data {
  /* outline: 3px solid green; */
  width: 48%;
  height: 40%;
}

.user-info__ul {
  padding: 0;
}

.user-info__li {
  display: flex;
  margin-bottom: 1rem;
  letter-spacing: 3px;
  font-size: 2.3rem;
}

.user-info__title {
  margin-right: 0.5rem;
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 2.3rem;
}

.user-info__value{
  color: #000;
}

@media (max-width: 1300px) {
  .user-info__section--data {
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 430px) {
  .user__header {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
  }



  .user-info__section {
    flex-direction: column;
    margin: 0 2rem;
  }

  .user-info__paragraph {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 500;
  }
  
  .user-info__title, .user-info__value{
    font-size: 1.5rem;
  }

  .user-info__li {
    margin-left: 3rem;
  }


}


@media screen and (orientation: landscape) and (max-height: 420px) {
  .user-info__paragraph {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
}
